.top-block li a {
    color: black;
    font-size: large;
    font-weight: bold;
    opacity: 1;
}

.top-block a:hover {
    color: #555;
}

.top-block {
    padding-top: 30px;
    padding-bottom: 20px;
}

.active-item {
    text-decoration: underline;
}

